.simon {
    color:silver;
    font-family: "Orbitron", sans-serif;
    position: absolute;
    text-align: center;
    margin: 0;
    padding: 5px 5px;
    box-shadow: 10px 10px 32px -12px rgba(0,0,0,0.75);
    top: 50%;
    left: 50%;
    margin: -100px 0px 0px -61px;
}

body{
    background-color: silver;
}

main {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    color: black;
    width: 60px;
    height: 60px;
    font-size: 20px;
    padding: 10px;
    box-shadow: 10px 10px 32px -12px black;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 50%;
    box-sizing: border-box;
    outline: none;
}

#center{
    background: darkslategray;
    position: absolute;
    border: black;
    border-style: solid;
    border-width: 10px;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    top: 50%;
    left: 50%;
    margin: -125px 0px 0px -125px;
    box-sizing: border-box;
}
.button{
    position: absolute;
    height: 250px;
    width: 250px;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    border-color: black;
}
#green {
    background: green;
    border-radius: 250px 0 0 0;
    margin: -250px 0px 0px -250px;
}
#red {
    position: absolute;
    background: red;
    height: 250px;
    width: 250px;
    border-radius: 0 250px 0 0;
    margin: -250px 0px 0px 0px;
}
#yellow {
    position: absolute;
    background: yellow;
    height: 250px;
    width: 250px;
    border-radius: 0 0 0 250px;
    margin: 0px -250px 0px -250px;
}
#blue {
    position: absolute;
    background: blue;
    height: 250px;
    width: 250px;
    border-radius: 0 0 250px 0;
    margin: 0px 0px -250px 0px;
}
#start{
    background: red;
    font-size: larger;
    color: floralwhite;
    position: absolute;
    border: black;
    border-style: solid;
    border-width: 10px;
    border-radius: 50%;
    height: 65px;
    width: 125px;
    top: 52%;
    left: 51%;
    margin: -65px 0px 0px -75px;
    box-sizing: border-box;
    outline: none;
}
.score-board{
    background: white;
    position: absolute;
    border: black;
    border-style: solid;
    border-width: 5px;
    border-radius: 10%;
    font-size: 20px;
    box-sizing: border-box;
}
#high-score{
    top: 50%;
    right: 50%;
    margin: 16px 0px 0px -75px;
}
#count{
    text-align: right;
    top: 50%;
    right: 50%;
    height: 35px;
    margin: 60px 0px 0px -75px;
}
.value{
    color: red;
    font-size: 25px;
    position: absolute;
    background: black;
    height: 34px;
    width: 50px;
    border: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 10%;
    box-sizing: border-box;
    text-align: right;
    padding: 0px 2px 0px;
    font-family: "Orbitron", sans-serif;
}
#score{
    background: black;
    top: 50%;
    left: 50%;
    margin: 61px 0px 0px 10px;
}
#highScore{
    background: black;
    top: 50%;
    left: 50%;
    margin: 17px 0px 0px 10px;
}